<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ang.reptile.mapper.HeJiaOrderMapper">
    <sql id="insertColumns">
            order_info_name,
            state,
            created_date,
            order_code,
            receiver_name,
            receiver_address,
            receiver_phone,
            pay_amount,
            commodity_item_list,
            jsonStr,
            sum_num,
            active,
            created_at
    </sql>

    <sql id="selectColumns">
            id,
            order_info_name,
            state,
            created_date,
            order_code,
            receiver_name,
            receiver_address,
            receiver_phone,
            pay_amount,
            commodity_item_list,
            jsonStr,
            sum_num,
            active,
            created_at,
            update_at
    </sql>

    <resultMap id="heJiaOrderMap" type="com.ang.reptile.entity.HeJiaOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_info_name" property="orderInfoName" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="created_date" property="createdDate" jdbcType="BIGINT"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="receiver_name" property="receiverName" jdbcType="VARCHAR"/>
        <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR"/>
        <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR"/>
        <result column="pay_amount" property="payAmount" jdbcType="VARCHAR"/>
        <result column="commodity_item_list" property="commodityItemList" jdbcType="LONGVARCHAR"
                typeHandler="com.ang.reptile.mapper.typehandler.ItemListHandler"/>
        <result column="jsonStr" property="jsonStr" jdbcType="LONGVARCHAR"/>
        <result column="sumNum" property="jsonStr" jdbcType="INTEGER"/>
        <result column="active" property="active" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="DATE"/>
        <result column="update_at" property="updateAt" jdbcType="DATE"/>
    </resultMap>

    <insert id="insert" parameterType="com.ang.reptile.entity.HeJiaOrder">
        insert into hejia_order(<include refid="insertColumns"></include>)
        values(
        #{orderInfoName},
        #{state},
        #{createdDate},
        #{orderCode},
        #{receiverName},
        #{receiverAddress},
        #{receiverPhone},
        #{payAmount},
        #{commodityItemList, typeHandler=com.ang.reptile.mapper.typehandler.ItemListHandler},
        #{jsonStr},
        #{sumNum},
        #{active},
        now()
        )
    </insert>

    <select id="getHeJiaOrders" parameterType="com.ang.reptile.model.Page" resultMap="heJiaOrderMap">
        select
        <include refid="selectColumns"/>
        from hejia_order
        where id > #{page.id}
        and active = #{active} and state = 11
        order by id asc
        limit #{page.pageSize}
    </select>

    <update id="updateStateById" parameterType="com.ang.reptile.entity.HeJiaOrder">
        update hejia_order
        set active = #{active}, update_at = now()
        where id = #{id}
    </update>
    <!--<select id="GetUserByID" parameterType="int" resultType="com.test.springtest.dao.MUser">
        select * from `student` where id = #{id}
    </select>

    <insert
            id="saveUser" parameterType="com.test.springtest.User"
            useGeneratedKeys="true">
        insert into student(NAME,AGE) values (#{name},#{age})
    </insert>-->
</mapper>
